.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 40px;
}

.btn{
    padding:10px 25px;
    color: white;
    background: rgba(1, 150, 1, 0.562);
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.171);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }