 .postlist {
    max-height: 25vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 85%;
    
  }
  
  .post {
   position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(white, rgba(255, 255, 0, 0.219));
    gap: 5px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .post:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(81, 66, 141, 0.842);
  }
  
  .imageContainer {
    
    width: 50%;
    height: 100px;
    overflow: hidden;
    position: relative;
    flex: 1;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .postContent {
    padding: 15px;
  }
  
  .postInfo {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #888;
    align-items: center;
    
  }
  
  .postCategory {
    background-color: #00d9ffa1;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 10px;
  }
  .postCategory:hover{
    background: rgba(10, 80, 107, 0.274);
  }
  .postDate {
    color: #555;
  }
  
  .postTitle {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
    transition: color 0.3s;
  }
  
  .postTitle:hover {
    color: #a7360a;
  }
  
  
  @media (max-width: 768px) {
    

  }
  .postContent{
    flex: 3;
  }  
  
