/* Container for the whole card list */
.container {
  padding: 20px;
    
}

/* Title styling */
.title {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: #333;
}

/* Posts container: horizontal scrolling for a single row */
.posts {
 gap: 8px;
  height: 80vh;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

/* Hide scrollbar but allow scrolling */
.posts::-webkit-scrollbar {
  display: none;
}

.posts {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;      /* Firefox */
}

@media screen and (max-width: 768px){
  
  .posts {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 440px) {
  
  .posts {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}