/* pages/NotFound.module.css */
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient( #18174d, #7249e427);
  }
  
  .errorContent {
    text-align: center;
    color: white;
  }
  
  .errorCode {
    font-size: 8rem;
    margin: 0;
       font-weight: bold;
    letter-spacing: -2px;
    text-shadow: 3px 3px 10px rgba(16, 16, 17, 0.2);
    animation: glow 1.5s ease-in-out infinite alternate;
  }
  
  .errorMessage {
    font-size: 2rem;
    margin: 10px 0;
  }
  
  .errorDescription {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #ffe4e1;
  }
  
  .homeLink {
    padding: 10px 20px;
    background-color: white;
    color: #ff6f61;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .homeLink:hover {
    background-color: #ffe4e1;
  }
  
  /* Glow animation for the 404 */
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #ff6f61, 0 0 20px #ff9478, 0 0 30px #ff9478;
    }
    to {
      text-shadow: 0 0 20px #ff6f61, 0 0 30px #ff9478, 0 0 40px #ff9478;
    }
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .errorCode {
      font-size: 5rem;
    }
  
    .errorMessage {
      font-size: 1.5rem;
    }
  }
  